<!DOCTYPE html>
<html lang="en" ng-app="csci4140App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/loading-bar.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		<link href="favicon.png" rel="icon" type="image/png" />
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="js/ga.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/loading-bar.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/controllers.js"></script>
		<script data-ad-client="ca-pub-9361102177907391" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>CSCI 4140: Open-Source Software Project Development - Tutorial Resource Page</title>
	</head>
	<body ng-controller="DefaultController">
		<div class="container">
			<header>
				<h3>
					<small>{{ metadata.course.code }}<span class="visible-sm-inline visible-md-inline visible-lg-inline">: {{ metadata.course.title }}</span> ({{ metadata.semester }})</small><br />
					{{ metadata.pageTitle }}
				</h3>
				<hr />
			</header>

			<div class="row">
				<main class="col-md-8 col-md-push-4">
					<div class="panel-group" id="tutorials" role="tablist" aria-multiselectable="true">
						<div class="panel panel-{{ tutorial.current ? 'primary' : 'default' }}" ng-repeat="tutorial in tutorials">
							<div class="panel-heading" role="tab" id="#tut-heading-{{ tutorial.week }}">
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#tut-{{ tutorial.week == '?' || tutorial.topics === undefined ? 'X' : tutorial.week }}" aria-expanded="true" aria-controls="tut-{{ tutorial.week == '?' || tutorial.topics === undefined ? 'X' : tutorial.week }}">
										<span class="week">Week #{{ tutorial.week }}</span><span class="date">({{ tutorial.date }}):</span><span class="theme-title">{{ tutorial.theme }}</span>
										<span class="pull-right">
											<i class="fa fa-bars"></i>
										</span>
									</a>
								</h4>
							</div>
							<div id="tut-{{ tutorial.week == '?' ? 'X' : tutorial.week }}" class="panel-collapse collapse-tut collapse{{ tutorial.display ? ' in' : '' }}{{ tutorial.current ? ' current' : '' }}" role="tabpanel" aria-labelledby="tut-heading-{{ tutorial.week }}" ng-if="tutorial.topics !== undefined">
								<div class="panel-body">
									<div class="row row-topic" ng-show="tutorial.topics === null">
										<p class="lead text-center" style="margin: 0;">Not ready</p>
									</div>
									<div class="row row-topic" ng-class="{ true : 'well-ph', false : '' }[ topic.well !== undefined && topic.well ]" ng-repeat-start="topic in tutorial.topics" ng-show="tutorial.topics !== null">
										<div class="col-sm-7">
											<strong class="topic">{{ topic.title }}</strong>
											<a data-toggle="collapse" href="#tut-{{ tutorial.week }}-outline-{{ $index }}" aria-expanded="false" aria-controls="tut-{{ tutorial.week }}-outline-{{ $index }}" ng-if="topic.outline !== undefined">
												[Outline]
											</a>
											<div class="collapse collapse-outline" id="tut-{{ tutorial.week }}-outline-{{ $index }}" ng-if="topic.outline !== undefined">
												<div class="outline">
													<ul>
														<li ng-repeat="o in topic.outline">{{ o }}</li>
													</ul>
												</div>
											</div>
											<p class="recommendation" ng-if="topic.recommendation !== undefined">
												<i class="fa fa-thumbs-up"></i>
												<strong>Recommendation:</strong>
												<a href="{{ href }}" target="_blank" ng-repeat-start="(name, href) in topic.recommendation">{{ name }}</a><span ng-repeat-end ng-if="! $last">, </span>
											</p>
											<p class="recommendation" ng-if="topic.recommendations !== undefined">
												<i class="fa fa-thumbs-up"></i>
												<strong>Recommendation:</strong>
												<a href="{{ r.href }}" target="_blank" ng-repeat-start="r in topic.recommendations">{{ r.name }}</a><span ng-repeat-end ng-if="! $last">, </span>
											</p>
											<p class="tags">
												<i class="fa fa-tags" ng-if="topic.tags.length > 0"></i>
												<strong ng-if="topic.tags.length > 0">Tags:</strong>
												<span ng-repeat="tag in topic.tags" class="badge tag">{{ tag }}</span>
											</p>
											<p class="note text-danger" ng-if="topic.note !== undefined">
												<i class="fa fa-bullhorn"></i>
												<strong>Note:</strong>
												<span ng-bind-html="topic.note | raw"></span>
											</p>
											<p class="note text-muted" ng-if="topic.lastModified !== undefined">
												<i class="fa fa-edit"></i>
												<strong>Last modified:</strong>
												{{ topic.lastModified }}
											</p>
										</div>
										<div class="col-sm-5">
											<div ng-show="topic.downloads !== null">
												<div ng-switch="d.type" ng-repeat="d in topic.downloads" class="downloads">
													<button class="btn btn-block btn-sm btn-primary" ng-switch-when="pdf" ng-click="download( d.link )">
														<i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;
														{{ d.name }} ({{ d.type }})
													</button>
													<button class="btn btn-block btn-sm btn-primary" ng-switch-when="markdown" ng-click="download( d.link )">
														<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
														{{ d.name }} ({{ d.type }})
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="markdown-alt" ng-click="download( d.link )">
														<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
														{{ d.name }}
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="zip" ng-click="download( d.link )">
														<i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;
														{{ d.name }} ({{ d.type }})
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="file" ng-click="download( d.link )">
														<i class="fa fa-file-o"></i>&nbsp;&nbsp;
														{{ d.name }} ({{ d.type }})
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="github" ng-click="download( d.link )">
														<i class="fa fa-github-square"></i>&nbsp;&nbsp;
														{{ d.name }} ({{ d.type }})
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="html" ng-click="download( d.link )">
														<i class="fa fa-eye"></i>&nbsp;&nbsp;
														{{ d.name }}
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="youtube" ng-click="download( d.link )">
														<i class="fa fa-youtube"></i>&nbsp;&nbsp;
														{{ d.name }}
													</button>
													<button class="btn btn-block btn-sm btn-default" ng-switch-when="link" ng-click="download( d.link )">
														<i class="fa fa-external-link"></i>&nbsp;&nbsp;
														{{ d.name }}
													</button>
													<a href="{{ d.link }}" data-toggle="modal" class="btn btn-block btn-sm btn-default" ng-switch-when="demo">
														<i class="fa fa-eye"></i>&nbsp;&nbsp;
														{{ d.name }}
													</a>
													<a href="{{ d.link }}" data-toggle="modal" class="btn btn-block btn-sm btn-default" ng-switch-when="download">
														<i class="fa fa-download"></i>&nbsp;&nbsp;
														{{ d.name }}
													</a>
												</div>
											</div>
											<div class="text-muted text-center" ng-show="topic.downloads === null">
												Not ready
											</div>
										</div>
									</div>
									<div ng-repeat-end></div>
									<p class="target" ng-if="tutorial.target !== undefined">
										<i class="fa fa-check-circle"></i>
										 <span ng-bind-html="tutorial.target | raw"></span>
									</p>
								</div>
								<div class="panel-footer" ng-if="tutorial.recordings !== undefined">
									<div class="row">
										<div class="col-sm-6" ng-if="tutorial.recordings.cantonese !== undefined">
											<a href="{{ tutorial.recordings.cantonese }}" class="btn btn-block btn-default" target="_blank">
												<i class="fa fa-youtube"></i>
												Recording (Cantonese)
											</a>
										</div>
										<div class="col-sm-6" ng-if="tutorial.recordings.english !== undefined">
											<a href="{{ tutorial.recordings.english }}" class="btn btn-block btn-default" target="_blank">
												<i class="fa fa-youtube"></i>
												Recording (English)
											</a>
										</div>
										<div class="col-sm-6" ng-if="tutorial.recordings.part1 !== undefined">
											<a href="{{ tutorial.recordings.part1 }}" class="btn btn-block btn-default" target="_blank">
												<i class="fa fa-youtube"></i>
												Recording (Part 1)
											</a>
										</div>
										<div class="col-sm-6" ng-if="tutorial.recordings.part2 !== undefined">
											<a href="{{ tutorial.recordings.part2 }}" class="btn btn-block btn-default" target="_blank">
												<i class="fa fa-youtube"></i>
												Recording (Part 2)
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<aside role="navigation" class="col-md-4 col-md-pull-8">
					<span class="visible-xs-inline visible-sm-inline"><br /></span>
					<div class="panel panel-danger">
						<div class="panel-heading">
							<a data-toggle="collapse" href="#news">
								<h4 class="panel-title">
									News
									<div class="pull-right"><i class="fa fa-plus-square"></i></div>
								</h4>
							</a>
						</div>
						<div class="panel-collapse collapse in">
							<div class="panel-body news">
								<strong>{{ news[ 0 ].date }}</strong>:
								<span ng-bind-html="news[ 0 ].content | raw"></span>
							</div>
						</div>
						<div class="panel-collapse collapse" id="news">
							<div class="panel-body news">
									<p ng-repeat="item in news" ng-if="! $first" class="{{ item.highlight ? 'text-danger' : 'text-muted' }}">
										<strong>{{ item.date }}</strong>:
										<span ng-bind-html="item.content | raw"></span>
									</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<a data-toggle="collapse" href="#tutorial-info">
								<h4 class="panel-title">
									Tutorial
									<div class="pull-right"><i class="fa fa-plus-square"></i></div>
								</h4>
							</a>
						</div>
						<div class="panel-collapse collapse in" id="tutorial-info">
							<div class="panel-body">
								<dl class="dl-horizontal" ng-repeat="tutor in metadata.tutors">
									<dt>Tutor</dt>
									<dd><a href="{{ tutor.homepage }}" target="_blank">{{ tutor.name }}</a></dd>
									<dt>Email</dt>
									<dd><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></dd>
									<dt>Office</dt>
									<dd>{{ tutor.office }}</dd>
									<dt>Office Hour</dt>
									<dd>{{ tutor.officeHour }}</dd>
								</dl>
								<table class="table table-striped">
									<tr>
										<th colspan="2">Time</th>
										<th>Venue</th>
									</tr>
									<tr ng-repeat="tutorial in metadata.tutorials">
										<td>{{ tutorial.abbr }}</td>
										<td>{{ tutorial.weekday }}, {{ tutorial.time }}</td>
										<td>{{ tutorial.venue }}</td>
									</tr>
								</table>
								<div class="text-center">
									<a href="{{ metadata.feedback }}" target="_blank" class="btn btn-block btn-default">Tutorial Feedback Form</a>
								</div>
							</div>
						</div>
					</div>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="javascript:;" id="collapse-all">
								<i class="fa fa-chevron-up"></i> Collapse All
							</a>
						</li>
						<li>
							<a href="javascript:;" id="expand-all">
								<i class="fa fa-chevron-down"></i> Expand All
							</a>
						</li>
						<li>
							<a href="javascript:;" id="show-current-only">
								<i class="fa fa-bookmark-o"></i> Show Current Only
							</a>
						</li>
						<li>
							<a href="javascript:;" id="show-all-outline">
								<i class="fa fa-search"></i> Toggle All Outline
							</a>
						</li>
						<li><div class="divider"></div></li>
						<li ng-repeat="nav in navs" ng-switch="nav.type">
							<a ng-switch-when="normal" href="{{ nav.href }}" target="_blank">
								<i class="fa fa-{{ nav.icon }}"></i> {{ nav.name }}
							</a>
							<a ng-switch-when="modal" data-toggle="modal" href="#{{ nav.href }}">
								<i class="fa fa-{{ nav.icon }}"></i> {{ nav.name }}
							</a>
						</li>
					</ul>
				</aside>
			</div>

			<footer>
				<hr />
				<div class="pull-left">
					<p class="text-muted">
						Created by <a href="mailto:{{ metadata.author.email }}">{{ metadata.author.name }}</a> @ {{ metadata.created }}
					</p>
				</div>
				<div class="pull-right">
					<p class="text-muted">
						Last Updated: {{ metadata.lastModified }}
					</p>
				</div>
			</footer>
		</div>

		<!-- Modals -->
		<div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" ng-repeat="modal in modals">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{{ modal.title }}</h4>
					</div>
					<div class="modal-body">
						<p ng-if="modal.type == 'normal'" ng-repeat="line in modal.contents">{{ line }}</p>
						<div ng-if="modal.type == 'demo'">
							<h5>Demo Pages</h5>
							<div class="row" ng-repeat-start="page in modal.contents">
								<div class="col-sm-6">
									<strong>{{ page.category }}:</strong>
									{{ page.title }}
								</div>
								<div class="col-sm-3">
									<button class="btn btn-block btn-sm btn-primary" ng-click="download( page.link )" ng-if="page.link !== undefined">
										<i class="fa fa-eye"></i>&nbsp;&nbsp;
										View Page
									</button>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-block btn-sm btn-default" ng-click="download( page.source )">
										<i class="fa fa-file-o"></i>&nbsp;&nbsp;
										View Source
									</button>
								</div>
							</div>
							<div ng-repeat-end class="divider-demo" ng-if="! $last"></div>
						</div>
						<div ng-if="modal.type == 'download'">
							<div class="row" ng-repeat-start="item in modal.contents">
								<div class="col-sm-8">
									{{ item.title }}
								</div>
								<div class="col-sm-4">
									<button class="btn btn-block btn-sm btn-primary" ng-click="download( item.link )">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
										Download
									</button>
								</div>
							</div>
							<div ng-repeat-end class="divider-demo" ng-if="! $last"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>
